<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>Admin Dashboard</title>
		<link rel="stylesheet" href="../styles/style.css" />
	</head>
	<body>
		<nav class="navbar">
			<div class="container">
				<a href="#" class="navbar-brand">Gocar</a>
				<ul class="navbar-nav">
					<li><a href="admin-dashboard.html">Home</a></li>
					<li><a href="students.html">Manage Students</a></li>
					<li><a href="createUser.html">Add Mnually User's</a></li>
					<li><a href="about.html">About</a></li>
				</ul>
			</div>
		</nav>
		<div class="container dashboard-container">
			<div class="user-count">
				<h2>Total Users: <span id="total-users"></span></h2>
			</div>

			<div class="admin-actions">
				<h2>Latest Actions by the Administrator</h2>
				<div id="actions-carousel"></div>
			</div>
		</div>
		<script src="../scripts/admin-dashboard.js"></script>
	</body>
</html>
